@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap');

body {
  background-color: #0A0A0A;
  color: #FFFFFF;
  font-family: 'Sora', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ultra-thin-border {
  border: 0.5px solid rgba(255, 255, 255, 0.25);
}

.record-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}
